@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.telegram{
	font-variant: all-small-caps;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* Style bq inscription in c22 */
blockquote{
	font-variant: small-caps;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
}
/* end c22 bq styling */
